/*The main global design concepts for every page*/
.under-construction {
    font-size: 8vw;
    color: whitesmoke;
    border: none;

}
body {
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(105, 48, 1);
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
    margin-right: 0px;
    margin-left: 0px;
}
p img {
    max-width: 500px;
    min-width: 15%;
    margin: 30px;
    border: 2px solid rgba(218, 165, 32, 0.5);
}
p::first-letter {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bolder;
}
.awards {
    width: 90%;
}
/*--------------------------------------------*/
/*Navigation and Slide Menu*/
.nav-bar {
    background-color:  rgba(218, 165, 32, 0.5);
    overflow: hidden;
    height: 80px;
    margin: 4px;
    padding: 10px;
    border-radius: 45px;
}
nav.nav-bar {
    padding-left: 3%;
    width: 22vw;
    position: fixed;
    /* top: 57px; */
    z-index: 1;
}
.nav-bar a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
}
.nav-bar a:hover {
    background-color: gold;
    color: white;
    border-radius: 10px;
}
.side-nav {
    height: 100%;
    width: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
    text-shadow: 0px -1px whitesmoke;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.3s;
}
.side-nav a {
    display: block;
    padding-right: 10px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 24px;
    color: rgba(218, 165, 32, 0.9);
    transition: 0.3s;
}
.side-nav a:hover {
    background-color: rgba(245, 245, 245, 0.9);
    border-right: 12px solid whitesmoke;
    border-left: 12px solid whitesmoke;
}
.side-nav .btn-close {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 40px;
}
.side-nav .btn-close:hover {
    border: none;
}
#slide-menu-sub-section a {
    font-size: 12px;
}
#main {
    transition: 0.5s;
    width: 100%;
    padding: 15px;
    overflow: hidden;
}
/*when the size of the screen is less than 954px the navbar text will no longer display but the box for the slide menu will still display*/
@media(max-width: 954px){
    .nav-bar-links{display:none}
}
/*-------------------------------------*/
/*Sub Nav for the local page*/
.sub-nav {
    background-color: goldenrod;
    overflow: hidden;
    width: 70%;
    min-width: 25%;
    height: 80px;
    margin: 14px;
    padding: 14px;
    border-radius: 10px;
    position: relative;
    left: 15%;
    right: 15%;
    font-size: 1vw;
}
.sub-nav a{
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    border-radius: 10px;
}
.sub-nav a:hover {
    background-color: gold;
    color: white;
    border-radius: 10px;
}
/* ------------------------------------------------ */
/* tab-nav for the local html */
div.tab-nav {
    width: 100%;
    height: 30px; 
    font-size: 67%;
    display: inline-block;
    position: fixed;
    left: -173px;
    top: 70%;
    z-index: 1;
    -ms-transform: rotate(90deg); 
    -webkit-transform: rotate(90deg); 
    transform: rotate(90deg);
}
.tab-nav a {
    background-color: rgba(218, 165, 32, 0.5);
    text-decoration: none;
    text-align: center;
    padding: 1% 1%;
    border-radius: 15px 15px 0px 0px;
    color: whitesmoke;
}
/* -------------------------------------------- */
/*header design with idividual light-up*/
header {
    background-color: rgba(218, 165, 32, 0);
    margin-right: 14px;
    margin-left: 14px;
    border-radius: 10px;
    text-align: center;
    text-shadow: 0px -1px whitesmoke;
    color: goldenrod;
}
.top-name span{
    font-size: 7vw;
    font-family: 'Roboto Mono', monospace;
}
.light-up:hover {
    color: white;
}
/*
------------------------------------------------
about me section with my image*/
#photo-of-me {
    max-width: 83%;
    min-width: 15%;
    float: left;
    margin: 30px;
    border: 2px solid rgba(218, 165, 32, 0.5);
}
#section-about-me {
    width: 100%;
    display: block;
    position: relative;
    left: -5%;
    background-color: rgba(43, 13, 63, 0.5);
    margin: 15px;
    padding-top: 30px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
    border: 12px solid rgba(218, 165, 32, 0.5);
    color: goldenrod;
}
#signature-drawn {
    max-width: 83%;
    min-width: 15%;
    position: relative;
    left: 15px;
    border: none;
}
#signature {
    max-width: 25%;
    min-width: 5%;
    display: block;
    position: relative;
    left: 40px;
}
/*---------------------------------------------
the top tabs for each section only visible on screens bigger than 954px wide*/
.head-design {
    position: absolute;
    top: 25px;
    left: 65px;
    background-color: rgba(218, 165, 32, 0.5);
    margin: 5px;
    padding: 5px;
    text-align: center;
    color: whitesmoke;
    border: 2px solid goldenrod;
    border-radius: 10px;
    max-width: 40%;
    min-width: 10%;
    overflow: hidden;
    font-size: 6vw;
} 
/*-----------------------------------------------*/
.individual-sections {
    width: 100%;
    display: block;
    position: relative;
    left: -5%;
    background-color: rgba(43, 13, 63, 0.5);
    margin: 15px;
    padding-top: 30px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
    border: 12px solid rgba(218, 165, 32, 0.5);
    color: goldenrod;
}
/*---------------------------------------------
footer-nav section*/

.nav-bar {
    background-color: goldenrod;
    overflow: hidden;
    height: 80px;
    margin: 14px;
    padding: 14px;
    border-radius: 10px;
}
.nav-bar a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    border-radius: 10px;
}
.nav-bar a:hover {
    background-color: gold;
    color: white;
    border-radius: 10px;
}
.side-nav-bottom {
    height: 0%;
    width: 100px;
    position: fixed;
    bottom: 0px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
    text-shadow: 0px -1px whitesmoke;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 25px;
    transition: 0.3s;
}
.side-nav-bottom a {
    display: block;
    padding-right: 10px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 24px;
    color: rgba(218, 165, 32, 0.9);
    transition: 0.3s;
}
.side-nav-bottom a:hover {
    background-color: rgba(245, 245, 245, 0.9);
    border-right: 12px solid whitesmoke;
    border-left: 12px solid whitesmoke;
}
.side-nav-bottom .btn-close-bottom {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 40px;
}
.side-nav-bottom .btn-close-bottom:hover {
    border: none;
}
#main {
    transition: 0.5s;
    height: 100%;
    padding: 15px;
    overflow: hidden;
}

@media(max-width: 954px){
    .nav-bar-links{display:none}
} 
#instagram {
    width: 40px;
}
#twitter {
    width: 30px;
}
@media(max-width: 902px){
    .sub-nav {display:none}
}
.LI-profile-badge {
    position: fixed;
    top: 284px;
    right: 15px;
    min-width: 50px;
}
@media(max-width: 1852px){
    .LI-profile-badge {display: none}
}
/* for all forms on the site */
form {
    background-color: rgba(0, 0, 0, 0.75);
    color: goldenrod;
    width: 40vw;
    margin: 30px;
    padding: 30px;
    text-align: right;
}
legend {
    text-align: left;
}
#contactInfoForm {
   padding-right: 150px;
}
/* ------------------------------------------------
media specific changes to navigation style */
@media screen and (max-width:414px) {
    .nav-bar {
        padding: 10px;
        margin: 4px;
        background-color: rgba(218, 165, 32, 0.5);
        border-radius: 45px;
    }
}
@media screen and (max-width:414px) {
    nav.nav-bar {
        padding-left: 3%;
        width: 22vw;
        position: fixed;
        /* top: 57px; */
        z-index: 1;
    }
}
@media screen and (max-width:414px) {
    .nav-bar a {
        padding: 14px 14px;
    }
}
@media screen and (max-width: 414px) {
    #slide-menu-sub-section a {
        font-size: 12px;
    }
}
@media screen and (max-width: 414px) {
    .side-nav-bottom {
        display: none;
    }
}
@media screen 
and (min-width: 360px)
and (max-width: 640px)
and (-webkit-device-pixel-ratio : 3)
 {
    div.tab-nav {
        width: 100%;
        height: 22px; 
        font-size: 67%;
        display: inline-block;
        position: fixed;
        left: -164px;
        top: 70%;
        z-index: 1;
        -ms-transform: rotate(90deg); 
        -webkit-transform: rotate(90deg); 
        transform: rotate(90deg);
    }
    .tab-nav a {
        background-color: rgb(218, 165, 32);
        text-decoration: none;
        text-align: center;
        padding: 1% 1%;
        border-radius: 15px 15px 0px 0px;
        color: whitesmoke;
    }
}
/* IPhone X */
@media only screen 
and (min-width : 375px) 
and (max-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
    div.tab-nav {
        width: 100%;
        height: 0px; 
        font-size: 67%;
        display: inline-block;
        position: fixed;
        left: -169px;
        top: 70%;
        z-index: 1;
        -ms-transform: rotate(90deg); 
        -webkit-transform: rotate(90deg); 
        transform: rotate(90deg);
    }
    .tab-nav a {
        background-color: rgb(218, 165, 32);
        text-decoration: none;
        text-align: center;
        padding: 1% 1%;
        border-radius: 15px 15px 0px 0px;
        color: whitesmoke;
    }
}
/* other IPhones */
@media only screen 
and (min-width : 375px) 
and (max-width : 667px)
and (-webkit-device-pixel-ratio : 2)
{
    div.tab-nav {
        width: 100%;
        height: 0px; 
        font-size: 67%;
        display: inline-block;
        position: fixed;
        left: -170px;
        top: 70%;
        z-index: 1;
        -ms-transform: rotate(90deg); 
        -webkit-transform: rotate(90deg); 
        transform: rotate(90deg);
    }
    .tab-nav a {
        background-color: rgb(218, 165, 32);
        text-decoration: none;
        text-align: center;
        padding: 1% 1%;
        border-radius: 15px 15px 0px 0px;
        color: whitesmoke;
    }
}
@media only screen 
and (min-width : 414px) 
and (max-width : 736px)
and (-webkit-device-pixel-ratio : 3) {
    div.tab-nav {
        width: 100%;
        height: 0px; 
        font-size: 67%;
        display: inline-block;
        position: fixed;
        left: -190px;
        top: 70%;
        z-index: 1;
        -ms-transform: rotate(90deg); 
        -webkit-transform: rotate(90deg); 
        transform: rotate(90deg);
    }
    .tab-nav a {
        background-color: rgb(218, 165, 32);
        text-decoration: none;
        text-align: center;
        padding: 1% 1%;
        border-radius: 15px 15px 0px 0px;
        color: whitesmoke;
    }
}
@media only screen 
and (min-width : 320px) 
and (max-width : 568px)
and (-webkit-device-pixel-ratio : 2) {
    div.tab-nav {
        width: 100%;
        height: 0px; 
        font-size: 67%;
        display: inline-block;
        position: fixed;
        left: -155px;
        top: 70%;
        z-index: 1;
        -ms-transform: rotate(90deg); 
        -webkit-transform: rotate(90deg); 
        transform: rotate(90deg);
    }
    .tab-nav a {
        background-color: rgb(218, 165, 32);
        text-decoration: none;
        text-align: center;
        padding: 1% 1%;
        border-radius: 15px 15px 0px 0px;
        color: whitesmoke;
    }
}
/* google phones */
/* Pixle 2 */
@media only screen 
and (min-width : 411px) 
and (max-width : 731px)
and (-webkit-device-pixel-ratio : 2.6) {
    div.tab-nav {
        width: 100%;
        height: 0px; 
        font-size: 67%;
        display: inline-block;
        position: fixed;
        left: -203px;
        top: 70%;
        z-index: 1;
        -ms-transform: rotate(90deg); 
        -webkit-transform: rotate(90deg); 
        transform: rotate(90deg);
    }
    .tab-nav a {
        background-color: rgb(218, 165, 32);
        text-decoration: none;
        text-align: center;
        padding: 1% 1%;
        border-radius: 15px 15px 0px 0px;
        color: whitesmoke;
    }
}
/* Pixle 2plus */
@media only screen 
and (min-width : 411px) 
and (max-width : 823px)
and (-webkit-device-pixel-ratio : 3.5) {
    div.tab-nav {
        width: 100%;
        height: 0px; 
        font-size: 67%;
        display: inline-block;
        position: fixed;
        left: -190px;
        top: 70%;
        z-index: 1;
        -ms-transform: rotate(90deg); 
        -webkit-transform: rotate(90deg); 
        transform: rotate(90deg);
    }
    .tab-nav a {
        background-color: rgb(218, 165, 32);
        text-decoration: none;
        text-align: center;
        padding: 1% 1%;
        border-radius: 15px 15px 0px 0px;
        color: whitesmoke;
    }
}
